body {
    background-color: black;
}

h1{
    font-family: 'Questrial', sans-serif;
    color: white;
    font-size: 7em;
    font-weight:100;
    position: absolute;
    position:fixed;
    left: 12%;
    top: 3%;
    /* margin-left: -300px;
    margin-top: -200px; */
    
}

#top{
    left: 11.6%;
    top: 3.2%;
    transform: rotate(-5deg)
}

h4 {
    font-size: 1.3em;
    margin-top: 50px;
    margin-left: 10px;
    margin-bottom: 0;
    font-family: 'Questrial', sans-serif;
    color: white;
}

label {
    font-family: 'Questrial', sans-serif;
    color: white;
    
}

canvas{
    position: absolute;
    position:fixed;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -200px;
}

.interfaccia {
    overflow-y: scroll;
    background-color: rgb(33, 33, 33);
    border-color: rgb(122, 86, 86);
    width: 300px;
    height: 384px;
    top: 50%;
    left: 50%;
    position: absolute;
    margin-left: 100px;
    margin-top: -200px;
    border-radius: 0%, 5%, 5%, 0%;
    padding-top: 1em;

    overflow-x: hidden;
}

.interfaccia button {
    width: 100%;

}

.interfaccia h2 {
    margin-left: 0.5em;
}

.interfaccia input {
    width:  70%;
}

.interfaccia input[type="range"] {
    margin-top: 1.5em;
    height: 1px;
    appearance: none;
    -webkit-appearance: none;
    border: none;
    background-color: rgb(255, 255, 255);
    display: block;
    margin-left: 3em;
}

.interfaccia select {
    width: 100%;
    display: block;
}

.interfaccia label {
    margin-top: 1em;
    margin-left: 2em;
    display: block;
}

.index-btn {
    text-align: center;
    background: rgb(0, 0, 0);
    position: fixed;
    width: 130px;
    margin-top: 2em;
    margin-left: 0.1em;
    padding: 10px;
}

.index-btn img {
    width: 30px;
    height: 30px;
}

.index-btn,
.index-btn:active,
.index-btn:focus {
    text-decoration: none;
}

.index-btn span {
    text-align: center;
    font-family: 'Questrial', sans-serif;
    font-size: 18px;
    color: white;
}

.btn {
    margin-left: 1.5em;
}

.btn button {
    width: 70px;
    height: 50px;
    font-size: 25px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    border-width: 1px;
    box-sizing: border-box;
    border-radius: 20%;
    color: rgb(241, 241, 241);
    border-color: rgb(255, 255, 255);
    box-shadow: none;
    margin: 8px;
}


.forma-pattern {
    margin-left: 0.6em;
}

.forma-pattern input {
    width: 10px;
    margin-left: 20px;
}

.forma-pattern label {
    margin-left: 0;
    margin-top: -1em;
    display: inline-block;
}

input.color {
    width: 100px;
    margin-top: -3px;
    margin-left: 2.3em;
}

/*----------------------------- dropdown menu */

.interfaccia button {
    padding-left: 50px;
    margin-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

/* On mouse-over */
.dropdown-btn:hover {
    color: #f1f1f1;
}

/* Main content */
.main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
    background-color: rgb(48, 50, 59);
    color: white;
    margin-bottom: 20px;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}